@import url( "/files/css/fitnesse_base.css" );

div.sidebar {
    background-color: #0c6a84
    background-image: url(/files/images/ps_sidebar_bg.png);
    background-repeat: repeat-none;
    background-position: top left;
}

div.art_niche {
    background-image: url(/files/images/ps_fitnesse_logo.png);
}

a:link {
    color: #84AC17;
    text-decoration: none;
}
a:visited {
    color: #84AC17;
    text-decoration: none;
}
a:hover {
    color: #54CC08;
    text-decoration: underline;
}

.actions a {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkitborder-radius: 3px;
}

.actions a:link,
.actions a:visited {
    background-color: #F7F5F3;
    border: 1px solid #EAE7E3;
}

.actions a:hover {
    background-color: #EFEBE7;
}

h1, h2, h3, h4 {
    font-variant: normal;
}

.page_type {
    font-variant: normal;
}

table {
    border: 1px solid black;
    background: white;
}

tr {
    background: transparent;
}

td, th {
    border-width: 0 1 1px 0;
    border-color: #ccc;
    border-style: solid;
}

.source_file {
    color: #aaa;
    padding-left: 1em;
    float: right;
}

.pass, .fail, .ignore, .error {
    background-color: transparent;
}

.pass {
    color: #090;
}

.fail {
    color: #B00;
}

.ignore {
    color: #999;
    font-style: italic;
}

.error {
    color: #C80;
}
